@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Tangerine:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", 'Tangerine' ;
}

body {
  height: 100%;
  background: #111111;
}
.main-sec{
  padding:100px 0;
  background: #111111;
      height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
  max-width:1100px;
  width:100%;
  margin:0 auto;
  padding:0 16px;
}
.screen {
  display: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.screen.active {
  display: flex;
}

/* HEART */
.heart {
font-size: clamp(120px, 20vw, 400px);
max-width:800px;
width:100%;
margin:0 auto;
  cursor: pointer;
  position: relative;
  animation: pulse 2.5s infinite;
  -webkit-animation: pulse 2.5s infinite;
}

.heart-text {
  display: block;
  font-size: 22px;
  color: #fff;
  margin-top: 10px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

/* QUESTION */
h1 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 32px;
}

.buttons {
  position: relative;
  display:flex;
  flex-wrap:wrap;
  gap:50px;
  justify-content: center;
  align-items: center;
}

button {
  padding: 12px 32px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
button.btn-yes {
    background: #b61717;
    color: white;
    position:relative;
}
button.btn-yes:before{
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  right: -12px;
  bottom: -10px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 64 64" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g class="heart-float"><path fill="%23f8c6a4" d="M31.71 47.385a4.209 4.209 0 0 1-2.198-5.53l8.981-20.837a4.209 4.209 0 1 1 7.73 3.332L37.24 45.186a4.209 4.209 0 0 1-5.53 2.199z" opacity="1" data-original="%23f8c6a4"></path><path fill="%23101016" d="M33.367 48.617a5.045 5.045 0 0 1-2.008-.415 5.105 5.105 0 0 1-2.664-6.701l8.982-20.835a5.064 5.064 0 0 1 2.798-2.719 5.063 5.063 0 0 1 3.901.056 5.059 5.059 0 0 1 2.718 2.798 5.057 5.057 0 0 1-.056 3.9l-8.98 20.837a5.106 5.106 0 0 1-4.69 3.079zm-1.305-2.047a3.33 3.33 0 0 0 4.363-1.737L45.406 24c.35-.815.363-1.717.036-2.54a3.303 3.303 0 0 0-1.77-1.823 3.304 3.304 0 0 0-2.54-.037 3.3 3.3 0 0 0-1.823 1.771l-8.981 20.836a3.326 3.326 0 0 0 1.734 4.364z" opacity="1" data-original="%23101016" class=""></path><path fill="%23f8d2b9" d="M44.052 58.63c-6.822 6.315-17.481 5.914-23.797-.908l-4.571-4.954a4.03 4.03 0 0 1-1.064-2.164 4.143 4.143 0 0 1 1.273-3.786 4.214 4.214 0 0 1 5.95.21l-2.897-3.123a4.03 4.03 0 0 1-1.064-2.163 4.143 4.143 0 0 1 1.274-3.786 4.199 4.199 0 0 1 5.95.227L22.4 35.252a4.014 4.014 0 0 1-1.047-2.146 4.175 4.175 0 0 1 1.274-3.804c1.692-1.552 4.344-1.483 5.914.192l-5.95-6.42c-1.57-1.71-1.465-4.379.228-5.95a4.199 4.199 0 0 1 5.949.228L43.51 33.28l.035.018 1.867 2.04c.174.175.314.385.453.577 5.339 6.821 4.658 16.73-1.814 22.715z" opacity="1" data-original="%23f8d2b9" class=""></path><path d="M44.049 58.639a16.783 16.783 0 0 1-11.162 4.485c6.59-2.7 14.7-16.84 6.916-33.846l5.615 6.06c.172.172.309.377.446.583 5.34 6.814 4.656 16.726-1.815 22.718z" opacity="1" fill="%2300000010" data-original="%2300000010" class=""></path><g fill="%23101016"><path d="M25.332 51.703a.883.883 0 0 1-.654-.287l-4.365-4.737a.89.89 0 0 1 1.307-1.205l4.366 4.737a.89.89 0 0 1-.654 1.492zM31.525 45.981a.89.89 0 0 1-.651-.283l-6.885-7.41a.89.89 0 0 1 1.302-1.211l6.885 7.409a.888.888 0 0 1-.651 1.495zM37.684 40.275a.886.886 0 0 1-.653-.285l-9.743-10.543a.89.89 0 0 1 1.306-1.206l9.743 10.54a.89.89 0 0 1-.653 1.494z" fill="%23101016" opacity="1" data-original="%23101016" class=""></path><path d="M32.619 64c-4.768 0-9.524-1.908-13.011-5.675l-4.584-4.962a5.084 5.084 0 0 1-1.287-2.603 5.086 5.086 0 0 1 1.557-4.6 5.054 5.054 0 0 1 3.281-1.348l-.288-.31A5.069 5.069 0 0 1 17 41.895a5.083 5.083 0 0 1 4.836-5.945l-.086-.094a5.092 5.092 0 0 1-1.277-2.599 5.072 5.072 0 0 1 1.56-4.601 5.054 5.054 0 0 1 3.266-1.348l-3.36-3.63a5.128 5.128 0 0 1-1.37-3.465c0-1.413.583-2.738 1.64-3.735a5.106 5.106 0 0 1 7.211.268l14.661 15.845c.03.025.06.052.085.082l1.452 1.573a17.604 17.604 0 0 1 4.706 12.721 17.61 17.61 0 0 1-5.67 12.324A17.67 17.67 0 0 1 32.62 64zM18.752 46.585c-.809 0-1.615.29-2.247.877a3.318 3.318 0 0 0-.177 4.694l4.585 4.962c5.97 6.448 16.078 6.839 22.533.867A15.84 15.84 0 0 0 48.547 46.9a15.842 15.842 0 0 0-4.235-11.447v-.002l-1.372-1.486a.737.737 0 0 1-.085-.08l-14.739-15.93a3.327 3.327 0 0 0-4.692-.179c-.692.653-1.076 1.52-1.076 2.437 0 .823.32 1.626.9 2.26l5.942 6.422a.89.89 0 0 1-1.299 1.215 3.317 3.317 0 0 0-4.65-.15 3.305 3.305 0 0 0-1.016 2.997c.11.636.397 1.221.831 1.692l2.707 2.926h.001l.002.002a.889.889 0 0 1-1.304 1.21 3.33 3.33 0 0 0-4.696-.186 3.31 3.31 0 0 0-1.014 2.994c.11.639.398 1.224.838 1.696l2.9 3.131a.889.889 0 0 1-1.299 1.214 3.351 3.351 0 0 0-2.44-1.05z" fill="%23101016" opacity="1" data-original="%23101016" class=""></path></g><path fill="%23f7524b" d="M42.916 7.966c-2.101 5.526-6.962 7.49-8.228 7.49-1.265 0-6.127-1.964-8.228-7.49-.55-1.448-.71-3.046-.04-4.443.011-.029.017-.057.028-.08C27.691.872 30.691.162 32.753 1.685a8.66 8.66 0 0 1 1.935 1.958 8.66 8.66 0 0 1 1.936-1.958c2.06-1.523 5.061-.813 6.304 1.758.011.023.017.051.028.08.67 1.397.51 2.995-.04 4.443z" opacity="1" data-original="%23f7524b" class=""></path><path d="M42.916 7.966c-2.044 5.371-6.688 7.375-8.113 7.484 4.757-2.326 7.023-11.276 2.015-13.897 2.05-1.345 4.907-.601 6.11 1.89.011.023.017.051.028.08.67 1.397.51 2.995-.04 4.443z" opacity="1" fill="%2300000010" data-original="%2300000010" class=""></path><path fill="%23101016" d="M34.689 16.345c-1.765 0-6.876-2.32-9.06-8.063-.716-1.887-.72-3.666-.01-5.143C26.36 1.58 27.636.52 29.148.148A4.919 4.919 0 0 1 33.28.97a9.578 9.578 0 0 1 1.409 1.26A9.516 9.516 0 0 1 36.097.97a4.939 4.939 0 0 1 4.127-.821c1.515.373 2.79 1.432 3.505 2.907.019.04.05.126.064.167.674 1.396.67 3.174-.045 5.06-2.185 5.743-7.295 8.063-9.06 8.063zM30.343 1.78c-.255 0-.513.031-.767.094-.997.246-1.845.96-2.327 1.956-.651 1.377-.333 2.83.042 3.82 1.944 5.112 6.427 6.917 7.398 6.917s5.452-1.805 7.395-6.917c.377-.989.695-2.441.07-3.742-.51-1.075-1.357-1.788-2.355-2.034a3.17 3.17 0 0 0-2.648.526 7.804 7.804 0 0 0-1.742 1.763.885.885 0 0 1-.719.37h-.001a.886.886 0 0 1-.72-.368 7.873 7.873 0 0 0-1.743-1.763 3.164 3.164 0 0 0-1.883-.622zm12.573 6.186h.017z" opacity="1" data-original="%23101016" class=""></path></g></svg>');

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  animation: heart-float 2.8s ease-in-out infinite;
  pointer-events: none;
}
button.btn-no {
    background: #b61717;
    color: #171717;
    opacity:0.7;
}
.screen-2 .inner{
  position:relative;
  display: flex;
  gap:30px;
  justify-content: center;
  align-items: center;
}
.screen-2 image{
  width: 40%;
  object-fit: contain;
}
.screen-2 .inner .content {
    width: 60%;
}
.screen-2 .inner .content h1{
  font-family: 'Tangerine';
  font-size:clamp(45px,5vw,68px);
  color:#fff;
}
/* CONGRATS */
.screen-3 h1 {
  font-size:clamp(45px,5vw,68px);
  font-family: 'Tangerine';

}

.screen-3 p {
  font-size: 22px;
  color: #ffffff;
}

.screen-3 img{
  padding-top:58px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.screen-2 {
   position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #111111;
}

#bg{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}


  @keyframes heart-float {
  0% {
    transform: translateY(0) scale(0.6);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  60% {
    transform: translateY(-35px) scale(1);
    opacity: 1;
  }

  80% {
    transform: translateY(-50px) scale(1.4);
    opacity: 0.6;
  }

  100% {
    transform: translateY(-65px) scale(2);
    opacity: 0;
  }
}
@media (max-width:1024px){
  .buttons {
    gap:16px;
  }
}
@media (max-width:768px){
  .screen-2 .inner{
    flex-direction:column;
    gap:16px;
  }
  .screen-2 image{
  width: 100%;
  object-fit: contain;
}
.screen-2 .inner .content {
    width: 100%;
}
.flower-image {
    height: 300px;
    object-fit: contain;
}
}