@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Tangerine:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

.container{
  max-width:1100px;
  width:100%;
  margin:0 auto;
  padding:0 16px;
}
.screen {
  display: none;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.screen.active {
  display: flex;
}

/* HEART */
.heart {
  font-size: 120px;
  cursor: pointer;
  position: relative;
  animation: pulse 2.5s infinite;
  -webkit-animation: pulse 2.5s infinite;
}

.heart-text {
  display: block;
  font-size: 22px;
  color: #fff;
  margin-top: 10px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

/* QUESTION */
h1 {
  color: #171717;
  margin-bottom: 30px;
  font-size: 32px;
}

.buttons {
  position: relative;
  display:flex;
  gap:50px;
  justify-content: center;
  align-items: center;
}

button {
  padding: 12px 32px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
button.btn-yes {
    background: #b61717;
    color: white;
}
button.btn-no {
    background: #b61717;
    color: #171717;
    opacity:0.7;
}
.screen-2 .inner{
  position:relative;
  display: flex;
  gap:30px;
  justify-content: center;
  align-items: center;
}
.screen-2 img{
  width: 40%;
}
.screen-2 .content{
  
}
/* CONGRATS */
.screen-3 h1 {
  font-size: 42px;
  font-family: 'Tangerine';
  color:#171717;
}

.screen-3 p {
  font-size: 22px;
  color: #171717;
}

.screen-3 img{
  padding-top:58px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}